/node_modules

/util/cli/scripts/create/create-app/sample/node_modules
/util/cli/scripts/create/create-app/sample/dist

/apps/project1/node_modules
/apps/project1/dist

/apps/project/node_modules
/apps/project/dist